<body id="page-top">
    {{>_navbar}}
  <div id="wrapper">
    {{>_sidebar}}
    <div id="content-wrapper">
      <div class="container-fluid">
        {{>_breadcumbs}}
        
    <!-- Page Content -->
        <h1>Blank Page</h1>
        <hr>
        <p>This is a great starting point for new custom pages.</p>

    
    
      </div>
    <!-- /.container-fluid -->

    {{>_footer}}
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  {{>_logout}}
  {{>_scrolltop}}
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>
</body>
</html>